.cartdevide {
  display: grid;
  grid-template-columns: 70% 20%;
  grid-template-rows: auto;
  gap: 10%;
  padding: 5% 0;
  text-align: center;
}

.cartitemwrapper {
  display: grid;
  grid-template-columns: 60% 35%;
  grid-template-rows: auto;
  gap: 5%;
  padding: 0 0 5%;
}

.name {
  font-weight: bold;
  margin: 5% 0;
}

.deletebutton {
  margin: 5% 0;
  background-color: #888888;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  &:hover {
    opacity: 70%;
  }
}

.cartempty {
  text-align: center;
  margin: 10%;
  font-weight: 600;
  font-size: 30px;
}

.position {
  position: relative;
}
