@use "searchfield";
@use "itemsarray";
@use "itemdetail";
@use "cart";
@use "orderform";
@use "history";
@use "orderComp";

* {
  box-sizing: border-box;
}

body {
  padding-top: 100px; /* ヘッダーの後ろに要素が隠れないようにするため */
  background-color: #f0efef;
  margin: 0;
}

main {
  height: 100vh; /* スクロールの演出を見れるようにmainに高さを指定 */
  padding: 30px 4% 50px;
}

header {
  width: 100%;
  padding: 30px 4% 10px;
  background-color: #fff;
  top: 0;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

h1 {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #4b4b4b;
  &:hover {
    color: #f279b4;
  }
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
  color: #4b4b4b;
}

@mixin icon {
  width: 20px;
  height: 20px;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: #f279b4;
  }
}

.home {
  @include icon();
}

.cart {
  @include icon();
}

nav {
  margin: 0 0 0 auto;
}

@mixin headerbutton {
  border: none;
  background-color: #fff;
  padding: 0;
  color: #4b4b4b;
  cursor: pointer;
  &:hover {
    color: #f279b4;
  }
}

.logoutbutton {
  @include headerbutton();
}

.loginbutton {
  @include headerbutton();
}
