@charset "UTF-8";
.searchitems {
  justify-content: center;
  display: flex;
  margin: 10px;
  background-color: transparent;
}

.searchfield {
  justify-content: center;
  display: flex;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 50%;
  background-color: transparent;
}

.searchinput {
  border: none;
  width: 95%;
  background-color: transparent;
}
.searchinput:focus {
  outline: 0;
}

.searchbutton {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.items {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 5% 0%;
}

.link {
  text-decoration: none;
  color: #4b4b4b;
  padding: 10px;
  width: 25%;
}
.link:hover {
  color: #f279b4;
}

.item {
  padding: 0% 3%;
  width: 100%;
}

.image {
  border-radius: 5%;
}

.itemdetailbody {
  padding: 10px 10%;
  width: 100%;
  color: #333333;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px;
  gap: 20px;
}

.detailimage {
  position: static !important;
  width: 90% !important;
  height: auto !important;
  border-radius: 5%;
}

.title {
  font-weight: bold;
  margin: 30px 0 5px;
}

.cartbutton {
  margin: 20px 0;
  color: #fff;
  background-color: #ff55ff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.15s;
}
.cartbutton:hover {
  opacity: 70%;
}

.radio {
  box-sizing: border-box;
  transition: background-color 0.15s linear;
  position: relative;
  display: inline-block;
  margin: 0 20px 8px 0;
  padding: 12px 12px 12px 42px;
  border-radius: 8px;
  background-color: #ffffff;
  vertical-align: middle;
  cursor: pointer;
}
.radio:hover {
  background-color: #fedbfe;
}
.radio:hover:after {
  border-color: #ff55ff;
}
.radio::before {
  transition: opacity 0.15s linear;
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff55ff;
  content: "";
  opacity: 0;
}
input[type=radio]:checked + .radio::before {
  opacity: 1;
}
.radio::after {
  transition: border-color 0.15s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #bbb;
  border-radius: 6px;
  content: "";
}

input[type=radio] {
  display: none;
}

.selectwrapper {
  width: 20%;
  position: relative;
  border-radius: 8px;
  background: #ffffff;
}
.selectwrapper::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}

.select {
  width: 100%;
  cursor: pointer;
  text-indent: 10px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px 38px 8px 8px;
  transition: all 0.15s linear;
  border-radius: 7px;
}
.select:hover {
  background-color: #fedbfe;
}

.cartdevide {
  display: grid;
  grid-template-columns: 70% 20%;
  grid-template-rows: auto;
  gap: 10%;
  padding: 5% 0;
  text-align: center;
}

.cartitemwrapper {
  display: grid;
  grid-template-columns: 60% 35%;
  grid-template-rows: auto;
  gap: 5%;
  padding: 0 0 5%;
}

.name {
  font-weight: bold;
  margin: 5% 0;
}

.deletebutton {
  margin: 5% 0;
  background-color: #888888;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
}
.deletebutton:hover {
  opacity: 70%;
}

.cartempty {
  text-align: center;
  margin: 10%;
  font-weight: 600;
  font-size: 30px;
}

.position {
  position: relative;
}

.orderformbody {
  margin: 0 auto;
  padding: 30px 0;
}

.ordertitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.orderformtable {
  width: 100%;
  margin-bottom: 20px;
}

.orderitem,
.ordercontent {
  padding: 10px;
  border: 1px solid rgb(164, 164, 164);
}

.orderitem {
  text-align: left;
  width: 30%;
  background-color: rgb(216, 216, 216);
}

.ordercontent {
  width: 70%;
  background-color: white;
}

.formtext {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 600px;
}

input[type=text]:focus {
  outline: 0;
}

.formselect {
  width: 180px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.orderbutton {
  display: block;
  margin: 0 auto 40px;
  color: #fff;
  background-color: #ff55ff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}
.orderbutton:hover {
  opacity: 70%;
}

.historyWrapper {
  margin: 50px 10% 100px;
}

.flexBox {
  display: flex;
  padding: 10px;
}

.imgBox {
  margin: 0 10px;
}

.historyDetail {
  padding: 0 10px;
}

.historyBox {
  background-color: white;
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 10px;
}

.historyContentEnd {
  display: flex;
  justify-content: end;
  margin: 0 0 10px;
}

.cancelbutton {
  color: #fff;
  background-color: #9c9c9c;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  transition: all 0.15s;
}
.cancelbutton:hover {
  opacity: 70%;
  cursor: pointer;
}

.cansel {
  border: 1px solid #575757;
  padding: 5px 10px;
  color: #575757;
  border-radius: 4px;
  font-size: 12px;
}

.compBox {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 100px; /* ヘッダーの後ろに要素が隠れないようにするため */
  background-color: #f0efef;
  margin: 0;
}

main {
  height: 100vh; /* スクロールの演出を見れるようにmainに高さを指定 */
  padding: 30px 4% 50px;
}

header {
  width: 100%;
  padding: 30px 4% 10px;
  background-color: #fff;
  top: 0;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}

h1 {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #4b4b4b;
}
.link:hover {
  color: #f279b4;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
  color: #4b4b4b;
}

.home {
  width: 20px;
  height: 20px;
  align-items: center;
  cursor: pointer;
}
.home:hover {
  color: #f279b4;
}

.cart {
  width: 20px;
  height: 20px;
  align-items: center;
  cursor: pointer;
}
.cart:hover {
  color: #f279b4;
}

nav {
  margin: 0 0 0 auto;
}

.logoutbutton {
  border: none;
  background-color: #fff;
  padding: 0;
  color: #4b4b4b;
  cursor: pointer;
}
.logoutbutton:hover {
  color: #f279b4;
}

.loginbutton {
  border: none;
  background-color: #fff;
  padding: 0;
  color: #4b4b4b;
  cursor: pointer;
}
.loginbutton:hover {
  color: #f279b4;
}/*# sourceMappingURL=globals.css.map */